/* Page Default */
body {
    background-color: #1e2124;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Scrolling smoothly */
html {
    scroll-behavior: smooth;
}

/*Header Title */
.header-title {
    display: inline-block;    
    font-size: 70px;
    background: linear-gradient(to right, #fcfafa, #fd0000, #4b4a4a);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    color: transparent;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;

}

/* Header Container, with red diveder line under it*/
header {
    text-align: center;
    border-bottom: 2px solid #e10600;
}

/* Intro Tagline under the header*/
.tagline {
    text-align: center;
    font-size: 26px;
    color:#e0e0e0;
}

/* Why I love Formula 1 Section */
.love-section {
    text-align: center;
    font-size: 24px;
    max-width: 700px;
    margin: 40px auto 0 auto;
    color:#e0e0e0;
    border: 2px solid #ff1e00;
    border-radius: 10px;
    background-color: #1e2124;
}

/* My Favorite Drivers Section */
.drivers-section {
    text-align: center;
    font-size: 24px;
    max-width: 700px;
    margin: 40px auto 0 auto;
    color:#e0e0e0;
    border: 2px solid #ff1e00;
    border-radius: 10px;
    background-color: #1e2124;
}

.drivers-section ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    margin-top: 0px;
}

/* Driver links section */
.hamilton a {
    color: #00d2be; /* Mercedes Teal */
    text-decoration: none;
}

.schumacher a {
    color: #ff0000; /* Ferrari Red */
    text-decoration: none;
}

.senna a {
    color:#ff8700; /* McLaren Orange */
    text-decoration: none;
}

/* About my favorite drivers box*/
.favorite-drivers {
    text-align: center;
    font-size: 24px;
    max-width: 700px;
    margin: 40px auto 0 auto;
    color:#e0e0e0;
    border: 2px solid #ff1e00;
    border-radius: 10px;
    background-color: #1e2124;
}

/* Individual driver cards */

/* Lewis Hamilton Card */
.hamilton-card {
    position: relative;
    border: 2px solid #00d2be;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    background-color: #1e2124;
    font-size: 24px;
}

/* Lewis Hamilton's race number styling */
.hamilton-number {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    font-weight: bold;
    color:#ffffff;
    background-color: #00d2be;
    padding: 5px 12px;
    border-radius: 6px;
}

.hamilton-card h3 {
    color: #00d2be;
    font-size: 30px;
}

.hamilton-card p {
    color: #e0e0e0;
}

/* Lewis Hamilton Pictures and W11*/
.hamilton-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.hamilton-images figure {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.hamilton-images img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.hamilton-images figcaption {
    color: #e0e0e0;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.w11-figure {
    margin-top: 80px;
}

.w11-figure img {
    border: 2px solid #00d2be;
}

/* Michael Schumacher Card */
.schumacher-card {
    position: relative;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    background-color:#1e2124;
    font-size: 24px;
}

/* Michael Schumacher's race number styling */
.schumacher-number {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    font-weight: bold;
    color:#ffffff;
    background-color: #ff0000;
    padding: 5px 12px;
    border-radius: 6px;
}

.schumacher-card h3 {
    color: #ff0000;
    font-size: 30px;
}

.schumacher-card p {
    color: #e0e0e0;
}

.schumacher-card img {
    border-radius: 10px;
    margin: 10px 0;
}

/* Michael Schumacher Pictures and F2004 */
.schumacher-images{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.schumacher-images figure {
    margin: 0;
}

.schumacher-images img {
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    height: auto;
}

.schumacher-images figcaption {
    color: #e0e0e0;
    font-size: 20px;
    margin-top: 5px;
    text-align: auto;
}

.schumacher-images .f2004-figure {
    margin-top: 110px;
}

.schumacher-images .f2004-figure img {
    border: 2px solid #ff0000;
    border-radius: 10px;
}

.schumacher-images .f2004-figure img {
    max-width: 500px;
}

/* Ayrton Senna Card */
.senna-card {
    position: relative;
    border: 2px solid #ff8700;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    background-color:#1e2124;
    font-size: 24px;
}

/* Ayrton Senna's race number styling */
.senna-number {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    font-weight: bold;
    color:#ffffff;
    background-color: #ff8700;
    padding: 5px 12px;
    border-radius: 6px;
}

.senna-card h3 {
    color: #ff8700;
    font-size: 30px;
}

.senna-card p {
    color: #e0e0e0;
}

/* Ayrton Senna Picture and Car */
.senna-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.senna-images figure {
    margin: 0;
}

.senna-images img {
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    height: auto;
}

.senna-images figcaption {
    color: #e0e0e0;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.senna-images .mp4-figure {
    margin-top: 85px;
}

.mp4-figure img {
    border: 2px solid #ff8700;
    border-radius: 10px;
}

/* My favorite car section */
.favorite-car {
    text-align: center;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #ff8700;
    border-radius: 10px;
    background-color: #1e2124;
}

.favorite-car h2 {
    color: #ff8700;
}

.favorite-car img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.favorite-car figcaption {
    color: #e0e0e0;
    margin-top: 10px;
}